.about {
  width: 55vw;
  margin: auto;
  padding-top: 7vh;
  text-align: center;
  color: #a3a4a3;
}

.about h1 {
  font-size: 60px;
  margin-top: 0px;
  font-family: "Outfit";
  font-weight: 400;
  color: #f4f4f4;
}

.about hr {
  margin-top: 30px;
  width: 55vw;
}

.desc {
  font-family: "Poppins";
}

.star img {
  width: 80px;
  position: relative;
  left: 8vw;
  bottom: 20vh;
  transition: 0.5s ease;
}

.star img:hover {
  transform: rotate(60deg);
  transition: 0.5s ease;
}

.intro {
  background-color: white;
  height: auto;
  width: 70vw;
  margin: auto;
  float: right;
  position: absolute;
  top: 30vw;
  left: 15vw;
  padding: 30px;
  display: flex;
  column-gap: 0%;
  border-radius: 20px;
}

.player {
  border-radius: 20px;
  overflow: hidden;
  width: 80%;
  height: 320px;
}

.intro_text {
  text-align: center;
  font-size: 3.4vw;
  font-family: "Outfit";
  padding: 20px 0px 0px 0px;
}

.youtube_btn {
  background-color: black;
  color: #f4f4f4;
  font-family: "outfit";
  font-size: 17px;
  padding: 7px 14px;
  border-radius: 20px;
  margin-top: 30px;
  transition: 0.3s ease;
}

.youtube_btn:hover {
  cursor: pointer;
  background-color: #e25420;
  border: 2px #e25420 solid;
  transition: 0.3s ease;
}

.youtube_btn img {
  width: 22px;
  position: relative;
  bottom: 3px;
}

/* Second Section */
.second_section {
  padding-top: 23vw;
  background-color: #f4f4f4;
  color: #1a1b1a;
  width: 100%;
  height: auto;
  /* Center the text */
}

/* Third Section */
.third_section {
  /* padding-top: 5vw; */
  background-color: #1a1b1a;
  color: #f4f4f4;
  width: 100%;
  /* Center the text */
  height: auto;
}

.fifth_section {
  background-color: #ffffff;
  color: #000000;
  height: 100%;
  width: 99.92;
}

.heading_box {
  padding-top: 5vw;
  padding-left: 11vw;
}

.fifth_section_heading {
  font-size: calc(1.5rem);
  border-top: 5px solid transparent;
  border-image: linear-gradient(to right, rgb(242, 84, 2) 4%, transparent 4%) 1;
}

.helm {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 9.5vw;
  /* Adjust as needed */
  margin: 5vw auto;
  width: min-content;
  margin-top: 0;
}

.helm2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 9.5vw;
  /* Adjust as needed */
  margin: 5vw auto;
  width: min-content;
}

@media (max-width: 1050px) {
  .about {
    width: 70vw;
  }

  .about hr {
    width: 67vw;
  }

  .youtube_btn {
    font-size: 1.5vw;
  }

  .youtube_btn img {
    width: 2vw;
  }
}

@media (min-width: 957px) and (max-width: 1200px) {
  .intro {
    top: 35vw;
  }

  .second_section {
    padding-top: 36vw;
  }
}

@media (max-width: 956px) {

  .fifth_section {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .intro {
    float: none;
    position: relative;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 80%;
    padding: 20px;
  }


  .fifth_section {
    background-color: #f4f4f4;
    color: #1a1b1a;
  }

  .intro_text,
  .player,
  .youtube_btn {
    width: 100%;
    margin: 10px 0;
    font-size: 18px;
  }

  .intro_text {
    padding: 0;
  }

  .youtube_btn img {
    width: 22px;
    position: relative;
    bottom: 3px;
  }

  .helm {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }

  .helm2 {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }

  .second_section {
    padding-top: 5vw;
  }

  .p {
    margin: 0;
  }

  .star img {
    display: none;
  }
}