
.card_event {
  overflow: hidden;
  min-height: 450px;
  max-width: 340px;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card_event_img {
  height: 200px;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit;
}

.card_container {
  padding: 1.5rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* First border-left-width setting is a fallback */
.card_event_img::after {
  position: absolute;
  content: '';
  top: 161px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 40px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 545px;
  border-left-width: calc(575px - 5vw);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: white;
}

.card_event_avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 100px;
  left: 1.25rem;
  width: 100px;
  height: 100px;
}

/* styles.css (or your stylesheet file) */
.duration {
display: flex;
align-items: center;
color: #a89ec9;
margin-right: .2rem;
}

.duration ins {
margin: .5rem;
margin-bottom: .4rem;
}

@media (max-width: 1100px) {
/* Scale down the entire card */
.card_event {
  transform: scale(0.9); /* Adjust the scale factor as needed */
}
}
@media (max-width: 768px) {
/* Scale down the entire card */
.cards {
  transform: scale(0.8); /* Adjust the scale factor as needed */
}
}