body {
  margin: 0px;
  padding: 0px;
  font-family: var(--font-poppins) !important;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-outfit) !important;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #e25420 #d4d4d4;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #d4d4d4;
}

*::-webkit-scrollbar-thumb {
  background-color: #e25420;
  border-radius: 8px;
  border: 0px outset #ffffff;
}

:root {
  --font-size-xl-4: 20.4px;
  --font-size-17xl-3: 36.3px;
  --font-size-8xl-9: 27.9px;

  --text-gray-300: #d9dbe1;
  --default-white: #fff;
  --neutral-silver: #f5f7fa;
  --color-tomato: #e25420;
}