.upper_content {
    position: relative;
    background-color: #1b1a1b;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 37vw;
}

.sae_intro {
    padding-top: 1.56em;
    background-color: #1b1a1b;
    width: 100%;
    height: 37vw;
}

.sae_headings {
    font-size: 60px;
    margin-top: 0px;
    font-family: "Outfit";
    font-weight: 400;
    color: #f4f4f4;
    padding-top: 6vw;
    text-align: center;
}

.sae_long_text {
    text-align: center;
    color: white;
    padding-top: 0.65vw;
    padding-left: 18vw;
    padding-right: 18vw;
    font-weight: 400;
    font-size: 1.4vw;
    line-height: 2vw;
}

.social_media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 0.65vw;
    padding-bottom: 1.25vw;
    gap: 0.5vw;
}

.linkedIn_img {
    margin-left: 0.25vw;
}

.social_media>a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line {
    border-top: 1px solid white;
    margin: 0 auto;
    width: 34.75vw;
    padding-bottom: 5vw;
}

@media screen and (max-width:1024px) {
    .sae_intro{
        height: 50vw;
    }
    .sae_long_text{
        font-size: 2vw;
        padding-left: 4vw;
        padding-right: 4vw;
        line-height: 3vw;
    }
    .sae_headings {
        font-size: 56px;
        margin-top: 24px;
    }
    .sae_intro .social_media a img {
        width: 33px; 
        height: 33px; 
      }
}

@media screen and (max-width:680px) {
    .sae_intro{
        height: 60vw;
    }
    .sae_headings {
        font-size: 52px;
        margin-top: 24px;
    }
    .sae_long_text{
        font-size: 3vw;
        padding-left: 4vw;
        padding-right: 4vw;
        line-height: 3.5vw;
    }
    /* .sae_headings{
        font-size: 60px;
    } */
    
}

@media screen and (max-width:580px) {
    .sae_intro{
        height: 70vw;
        
    }
}

@media screen and (max-width:450px) {
    .sae_intro{
        height: 80vw;
        
    }
    .sae_headings {
        font-size: 44pxpx;
        margin-top: 24px;
    }
    .sae_intro .social_media a img {
        width: 33px; 
        height: 33px; 
      }
}

@media screen and (max-width:400px) {
    .sae_intro{
        height: 95vw;
        
    }

}

@media screen and (max-width:300px) {
    .sae_intro{
        height: 105vw;
        
    }

}