@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.first_section{
    background-color: #F4F4F4;
    height: 91vh;
    margin:0px;
    padding-top:10vh;
}

.about{
    width:35vw;
    height: 50vh;
    margin:auto;
    padding:20px;
    text-align: center;
}

.about h1{
    font-size: 60px;
    margin-top:0px;
    font-family: 'Outfit';
    font-weight: 400;
}

.about hr{
    margin-top:30px;
    width:30vw;
}

.desc{
    font-family: 'Actor';
}

.star img{
    width:80px;
    position: relative;
    left:8vw;
    bottom:20vh;
}

.intro{
    background-color: white;
    height: 60vh;
    width:70vw;
    margin:auto;
    float:right;
    position: absolute;
    bottom:-30vh;
    left:12vw;
    padding:30px;
    display: flex;
    column-gap: 30px;
}
.player{
    border-radius: 20px;
    overflow: hidden;
}

.intro_text{
    width:31.8%;
    text-align: center;
    font-size: 3.5rem;
    font-family: 'Outfit';
    padding:20px 0px 30px 0px;
}

.youtube_btn{
    background-color: black;
    color:white;
    font-family: 'outfit';
    font-size: 18px;
    padding:7px 14px;
    border-radius:20px;
    margin-top:30px;
}

.youtube_btn:hover{
    cursor:pointer;
}

.youtube_btn img{
    width:26px;
    position: relative;
    bottom:3px;
}

.second_section{
    background-color: black;
    height: 129.5vh;
    width:99.92;
    color:white;
    padding-top:260px;
}

.second_section h1,.third_section h1, .fourth_section h1{
    font-size:60px;
    font-family: 'Poppins';
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width: fit-content;
    margin: auto;
}

.third_section{
    background-color: #F4F4F4;
    height: 100vh;
    width:99.92;
    padding-top:10vh;
}

.fourth_section{
    background-color: black;
    height: 100vh;
    width:99.92;
    color:white;
    padding-top:10vh;
}

.content{
    margin:20px;
    margin-top:60px;
    display: flex;
    column-gap: 40px;
    height: 60vh;
    font-family: 'Inter';
}

.left{
    width:40%;
}
.left img{
    width:100%;
}
.right{
    width:70%;
    font-size: 1.625rem;
    line-height: 2.5rem;
    padding:30px;
    display: flex;
    align-items: center;
}








