@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

.blog_intro {
  background-color: #1b1a1b;
  display: flex;
  font-family: "Outfit", sans-serif;
  flex-direction: column;
  height: 40vh;
  align-items: center;
  justify-content: space-evenly;
}

.blog_title {
  margin-top: -2%;
  font-family: "Outfit", sans-serif;
  font-size: 4.5vw;
  margin-bottom: 1vw;
  color: white;
  text-align: center;
}

.blog_intro span {
  font-family: "Poppins";
  font-size: 1.1vw;
  color: #a4a3a4;
  text-align: center;
  width: 30vw;
}

.blog_type {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  height: 50px;
  bottom: 0;
  border-radius: 10px;
}

.blog_type_button {
  margin: 0 3vw;
  color: white;
  border: none;
  background-color: transparent;
  font-family: "Outfit", sans-serif;
  cursor: pointer;
  outline: none;
}

.blog_type_button:first-child {
  margin-left: 8px;
}

.blog_type_button:last-child {
  margin-right: 8px;
}

.blog_selected_button {
  background-color: #f25402;
  height: 80%;
  padding: 0 20px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 5px;
}

.blog_container {
  margin-left: 15vw;
  margin-right: 15vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5vw;
  justify-items: center;
  align-items: center;
  padding: 50px;
  padding-bottom: 0px;
  padding-top: 30px;
}

.blog_card {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  margin-bottom: 20px;
  width: 25vw;
  height: 20vw;
  background-color: #807f7f;
  border-radius: 40px;
  transition: all 0.3s ease-out;
}

.blog_card_image {
  flex: 1;
  background-image: url("/blogs-images/sample.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  filter: blur(0px);
  border-radius: inherit;
}

.blog_card button {
  position: absolute;
  bottom: 5%;
  left: 5%;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 20px;
  width: 120px;
  height: 30px;
  z-index: 999;
}

.blog_card:hover {
  transform: translate(5px, -4px);
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2), 0 12px 50px 0 rgba(0, 0, 0, 0.1);
  background-color: #cb3d15;
}

.blog_card:active {
  transform: scale(0.95);
  box-shadow: none;
}

.blog_card:hover button {
  background-color: #f25402;
}

.blog_card:active button {
  display: none;
}

.newBlogIdeas {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #e86526;
  width: 100%;
  height: fit-content;
  padding-bottom: 25px;
  margin-top: 100px;
}

.sideContent {
  margin-top: 25px;
  color: white;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.sideContent h1 {
  font-size: 3vw;
  font-weight: bold;
}

.sideContent h3 {
  font-size: 1.5vw;
  margin-left: 5px;
}

.bulb {
  margin-top: -100px;
  height: 300px;
  width: 240px;
}

.email {
  margin-top: 20px;
  font-size: 1.2em;
  background-color: black;
  max-width: fit-content;
  padding: 0px 20px;
  border-radius: 30px;
}

.logo {
  width: 40px;
  margin-right: 15px;
  padding: 10px 0px;
}

@media (max-width: 800px) {
  .bulb {
    display: none;
  }

  .newBlogIdeas {
    justify-content: center;
  }
}

@media (max-width: 1000px) {
  .blog_intro {
    justify-content: space-evenly;
  }

  .bulb {
    margin-top: -100px;
    height: 300px;
    width: 230px;
  }

  .email {
    margin-top: 20px;
    font-size: 1em;
    background-color: black;
    max-width: fit-content;
    padding: 5px 20px;
    border-radius: 30px;
    margin-bottom: 20px;
  }

  .logo {
    width: 30px;
    margin-right: 15px;
    padding: 10px 0px;
  }

  .blog_container {
    grid-template-columns: repeat(1, 1fr);
  }

  .blog_card {
    margin-bottom: 10px;
    width: 50vw;
    height: 30vw;
  }

  .blog_title {
    font-size: 60px;
    margin-bottom: 10px;
  }

  .blog_intro span {
    font-size: 2vh;
    width: 80vw;
  }

  .blog_type {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    height: 50px;
    bottom: 0;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .blog_type_button {
    margin: 0 3vw;
    color: white;
    border: none;
    background-color: transparent;
    font-family: "Outfit", sans-serif;
    cursor: pointer;
    outline: none;
  }

  .blog_type_button:first-child {
    margin-left: 8px;
  }

  .blog_type_button:last-child {
    margin-right: 8px;
  }

  .blog_selected_button {
    background-color: #f25402;
    height: 80%;
    padding: 0 20px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 5px;
  }
}

@media (max-width: 800px) {
  .blog_card {
    width: 70vw;
    height: 45vh;
  }

  .blog_container {
    padding: 0px;
    padding-top: 20px;
  }
}

@media (max-width: 500px) {
  .blog_intro {
    height: 40vh;
  }

  .bulb {
    display: none;
  }

  .newBlogIdeas {
    justify-content: center;
  }

  .blog_intro span {
    font-size: 13px;
    width: 80vw;
  }

  .sideContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .email {
    margin-bottom: 15px;
    margin-top: 10px;
  }

  .sideContent h1 {
    font-size: 20px;
    font-weight: bold;
  }

  .sideContent h3 {
    font-size: 15px;
    text-align: center;
    margin-left: 5px;
  }

  .blog_container {
    padding: 0px;
    padding-top: 20px;
  }

  .blog_card {
    width: 70vw;
  }
}

@media (max-width: 800px) {
  .blog_card {
    width: 70vw;
    height: 45vh;
  }

  .blog_container {
    padding: 0px;
    padding-top: 20px;
  }

  .sideContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .email {
    margin-bottom: 15px;
    margin-top: 10px;
  }

  .sideContent h1 {
    font-size: 20px;
    font-weight: bold;
  }

  .sideContent h3 {
    font-size: 15px;
    text-align: center;
    margin-left: 5px;
  }
}
