@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

/* .navbar {
  background-color: white;
  color: black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
.upper_content {
  position: relative;
  background-color: #1b1a1b;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 37vw;
}

.sae_intro {
  padding-top: 1.56em;
  background-color: #1b1a1b;
  width: 100%;
  height: 37vw;
}

.sae_headings {
  color: white;
  text-align: center;
  padding-top: 6vw;
}

.sae_long_text {
  text-align: center;
  color: white;
  padding-top: 0.65vw;
  padding-left: 18vw;
  padding-right: 18vw;
  font-weight: 400; 
  font-size: 1.4vw;
  line-height: 2vw;
}

.social_media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 0.65vw;
  padding-bottom: 1.25vw;
  gap: 0.5vw;
}
.linkedIn_img {
  margin-left: 0.25vw;
}

.social_media > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards_img_saeintro {
  height: 42vw;
  width: 40vw;
  margin-left: 1.62vw;
  margin-top: 1vw;
}

.line {
  border-top: 1px solid white;
  margin: 0 auto;
  width: 34.75vw;
  padding-bottom: 5vw;
}

.button {
  background: #000000;
  border-radius: 200px;
  border: none;
  height: 40px;
  width: 100px;
}

.top_img_container {
  max-width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100%;
}
.top_image {
  max-width: 73%; 
  padding-left: 40px;
  padding-right: 40px;
  height: auto;
  position: absolute;
  top: 0px;
}

.btn_container {
  position: absolute;
  bottom: -30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top_btn {
  padding: 8px 20px;
  font-size: 22px;
  width: 280px;
  height: 60px;
  background: #000000;
  border-radius: 51.68px;
  border: none;
  z-index: 1;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
  color: #ffffff;
}
.top_btn:hover {
  background: #e94d00;
  color: white;
}
.main_heading {
  text-align: center;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 93px;
  color: #000000;
  margin-top: 40px;
  margin-bottom: 20px;
}

/* .all_events {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-bottom: 50px;
}

.individual_event {
  padding: 20px;
}

.event_img {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: auto;
}

.event_p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #6b7280;
  margin-top: 10px;
  margin-left: 25px;
}

.event_h1 {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 24.1167px;
  color: #374151;
  margin-top: -5px;
  margin-left: 25px;
}

.row_events a {
  cursor: pointer;
}  */


@media (max-width: 768px) {
  .all_events {
    grid-template-columns: repeat(2, 1fr);
  }
  .top_image {
    padding-left: 40px;
    padding-right: 40px;
    top: 15px;
  }
  .top_btn {
    font-size: 22px;
    padding: 6px 16px;
    width: 180px;
    height: 42px;
  }
  .main_heading {
    font-size: 40px;
  }
  .event_img {
    padding-left: 10px;
    padding-right: 10px;
  }
  .event_h1 {
    font-size: 20px;
    margin-top: -12px;
  }
  .event_p {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .all_events {
    grid-template-columns: repeat(1, 1fr);
  }
  .top_btn {
    font-size: 15px;
    padding: 0px 12px;
    width: 130px;
    height: 32px;
  }
  .top_image {
    top: 15px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .main_heading {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: -10px;
  }
  .event_img {
    padding-left: 50px;
    padding-right: 50px;
  }
  .event_p {
    margin-left: 50px;
    font-size: 14px;
  }
  .event_h1 {
    font-size: 20px;
    margin-left: 50px;
    margin-top: -12px;
  }
}
