@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

.upper_content {
  position: relative;
  background-color: #1b1a1b;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 37vw;
}

.btn_container {
  position: absolute;
  bottom: -30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top_btn {
  padding: 8px 20px;
  font-size: 22px;
  width: 280px;
  height: 60px;
  background: #000000;
  border-radius: 51.68px;
  border: none;
  z-index: 1;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
  color: #ffffff;
}
.top_btn:hover {
  background: #e94d00;
  color: white;
}
.main_heading {
  text-align: center;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 93px;
  color: #000000;
  margin-top: 40px;
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .upper_content{
    height: 45vw;
    /* padding-top: 10vw; */
  }
}

@media (max-width: 841px) {
  .upper_content{
    height: auto;
    padding-top: 10vw;
  }
}

@media (max-width: 768px) {
  .top_btn {
    font-size: 22px;
    padding: 6px 16px;
    width: 180px;
    height: 42px;
  }
  .main_heading {
    font-size: 40px;
  }
  .upper_content{
    height: auto;
    padding-top: 10vw;
  }
}

@media (max-width: 480px) {
  .top_btn {
    font-size: 15px;
    padding: 0px 12px;
    width: 130px;
    height: 32px;
  }
  .main_heading {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: -10px;
  }
  .upper_content{
    height: 45vw;
    padding-top: 10vw;
  }
}