@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap");

.navbar {
  background-color: white;
  color: black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  background: #000000;
  border-radius: 200px;
  border: none;
  height: 40px;
  width: 100px;
}

.upper_content{
  height: 700px;
}

.top_img {
  position: relative;
  top:30px;
  display: block;
  margin: auto;
  z-index: -1;
}

.top_content{
  width: 400px;
  position: relative;
  bottom: 380px;
  left: 250px;
}

.top_heading {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  color: #ffffff;
}

.top_desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
}

.btn_container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -205px;
}

.top_btn {
  width: 240px;
  height: 60px;
  background: #e94d00;
  border-radius: 51.68px;
  border: none;
  z-index: 1;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  color: #ffffff;
}

.main_heading {
  text-align: center;
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 93px;
  color: #000000;
}

.all_events {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 30px;
  margin-top: 60px;
}

.row_events {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100vw;
  gap: 4vw;
  margin-bottom: 70px;
}

.event_img {
  border-radius: 24px;
}

.row_events div a {
  text-decoration: none;
}

.row_events div p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #6b7280;
  margin-top: 10px;
  margin-left: 10px;
}

.row_events div h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24.1167px;
  color: #374151;
  margin-top: -5px;
  margin-left: 10px;
}

.row_events a {
  cursor: pointer;
}


/* Media Queries */
/* CSS for screens smaller than 768px */
@media (max-width:768px) {
  .upper_content{
    width: 900px;
    height: 600px;
  }

  .top_img{
    width: 900px;
    margin-left: 2px;
    padding-left: 50px;
    padding-right: 50px;
    height: 500px;
  }

  .top_content{
    left: 80px;
  }

  .main_heading{
    width: 900px;
  }

  .all_events {
    margin: 0 3px;
    margin-top: 60px;
  }
  
  .row_events {
    gap: 2vw;
    margin-bottom: 50px;
  }

  .indivisual_event{
    padding-left: 50px;
    padding-right: 50px;
  }
  
  .row_events div h1 {
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
  }

  .event_img{
    width: 800px;
    height: 550px;
  }
  
  .row_events div p {
    font-size: 25px;
    margin-top: 18px;
    text-align: center;
  }
}


