.footer {
    background-color: black;
    color: white;
}

.footer_box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.contact_us {
    display: flex;
    border-right: 2px white solid;
    justify-content: space-between;
    padding: 30px;
}

.footer_logo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.footer_logo img {
    width: 180px;
}

.contact_us_desc h2 {
    font-size: 26px;
}

.contact_us_desc span {
    font-size: 20px;
}

.connect {
    border-right: 2px white solid;
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.connect img {
    width: 25px;
    margin: 0px 5px;
}

.quick_links {
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
}

.linkDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 4px;
}

.linkDiv>a:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
}

.linkDiv>a:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
}

.linkDiv>a:nth-child(3) {
    grid-area: 2 / 1 / 3 / 2;
}

.linkDiv>a:nth-child(4) {
    grid-area: 2 / 2 / 3 / 3;
}

.linkDiv>img:nth-child(5) {
    grid-area: 1 / 3 / 3 / 4;
}

.quick_links a {
    color: #068AD0;
    text-decoration: none;
}

.quick_links span a {
    margin-right: 0px;
    color: #EE3A24;
}

.upArrow {
    width: 50px;
}