.footer {
  background-color: black;
  color: white;
}

.footer_box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.hr_line {
  position: relative;
  left: -28px;
  top: 0;
  width: 140px;
  background-image: white;
  height: 3px;
}

.footer_logo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.footer_logo img {
  width: 250px;
  padding: 15px;
}
.footer_line img {
  padding: 20px 0 20px 0;
}

.contact_us_desc h2 {
  font-size: 40px;
}

.contact_us_desc span {
  font-size: 1.5rem;
}

.contact_us_desc span img {
  width: 35px;
  margin-right: 10px;
}

.quick_links {
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: space-between;
}

.linkDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 4px;
}

.quick_links a {
  color: #068ad0;
  text-decoration: none;
}

.quick_links h2 {
  font-size: 40px;
  padding-bottom: 15px;
}

.linkDiv > a:nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
}

.linkDiv > a:nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;
}

.linkDiv > a:nth-child(3) {
  grid-area: 2 / 1 / 3 / 2;
}

.linkDiv > a:nth-child(4) {
  grid-area: 2 / 2 / 3 / 3;
}

.linkDiv > img:nth-child(5) {
  grid-area: 1 / 3 / 3 / 4;
}

.quick_links span a {
  margin-right: 0px;
  color: #ee3a24;
}

.upArrow {
  width: 50px;
}

.connectLogo {
  padding-top: 20px;
}

.connectLogo img {
  width: 35px;
  margin: 0px 5px;
}

/* Responsive Styles  */
@media only screen and (max-width: 1200px) and (min-width: 900px) {
  .footer_logo img {
    width: 200px;
    padding: 10px;
  }
  .contact_us_desc h2 {
    font-size: 35px;
  }
  .contact_us_desc span {
    font-size: 1.2rem;
  }

  .contact_us_desc_mail span {
    display: none;
  }
  .quick_links h2 {
    font-size: 35px;
    padding-bottom: 15px;
  }
}

/* Responsive Styles for max screen width: 900 */
@media (max-width: 900px) {
  .footer_box {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .footer_line img {
    display: none;
  }
  .contact_us_desc {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .contact_us_desc span {
    font-size: 1.5rem;
  }
  .contact_us_desc span img {
    width: 50px;
    margin-right: 10px;
  }
  .contact_us_desc_mail span {
    display: none;
  }
  .quick_links {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .connectLogo img {
    width: 50px;
    padding: 5px;
  }
  .contact_us_desc_mail span {
    display: none;
  }
}
.footer-clean {
  padding:50px 0;
  background-color:#fff;
  color:#4b4c4d;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:right;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align:center;
  }
}

.footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  opacity:0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top:40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top:10px;
  }
}

.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}

.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}