body {
  margin: 0px;
  padding: 0px;
  font-family: var(--poppins-font) !important;
}

h1,
h2,
h3,
h4 {
  font-family: var(--outfit-font) !important;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #e25420 #d4d4d4;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #d4d4d4;
}

*::-webkit-scrollbar-thumb {
  background-color: #e25420;
  border-radius: 8px;
  border: 0px outset #ffffff;
}
