@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

.navbar {
  background-color: #000;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  margin: 0px;
  padding: 0px;
}

.sae_intro {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  width: 100%;
  height: 500px;
}

.sae_headings {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  padding-top: 100px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
}
.sae_name_text {
  padding-right: 15px;
}

.sae_long_text {
  text-align: center;
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.social_media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 20px;
}
.linkedIn_img {
  width: 55px;
  height: 37px;
  padding-top: 2px;
  padding-left: 25px;
}
.instagram_img {
  width: 40px;
  height: 40px;
}
.facebook_img {
  width: 60px;
  height: 40px;
  padding-left: 25px;
}
.cards_saeintro {
  padding-top: 5px;
}
.cards_img_saeintro {
  height: 600px;
  width: 600px;
}
.line {
  border-top: 1px solid white;
  margin: 0 auto;
  width: 600px;
}


/* our teams section */
/* our teams section */
.sae_ourteams {
  background-color: rgb(236, 236, 241);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  width: 100%;
  height: 500px;
}

.cards_ourteams {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
}
.cards_wholecontent_ourteams {
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin: 20px;
  height: 130px;
}

.cards_headings_ourteams{
  text-align: center;
  font-size: 12px;
  margin-bottom: 10px;
}

.cardcontent_ourteams {
  width: 200px;
  font-size: 12px;
  line-height: 1.5;
}

.line1 {
  margin-left: 280px;
  margin-top: 100px;
  border-top: 4px solid rgb(242, 84, 2);
  width: 40px;
}

.heading_ourteams {
  color: black;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 30px;
  text-align: center;
}

.text_longcontent_ourteams {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 220px;
  padding-right: 220px;
  color: black;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 25px;
}
.colored_div {
  margin: 0 auto;
  background-color: rgb(242, 84, 2); /* Replace "red" with your desired color */
  width: 120px; /* Set the width and height to your desired size */
  height: 40px;
  border-radius: 20px;
}