@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

.main {
  margin: 0px;
  padding: 0px;
}

.sae_intro {
  padding-top: 1.56em;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  width: 100%;
  height: 75vh;
}

.sae_headings {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  padding-top: 3em;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
}

.sae_name_text {
  padding-right: 0.3em;
}

.sae_long_text {
  text-align: center;
  padding-top: 10px;
  padding-left: 1.56em;
  padding-right: 1.56em;
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
}

.social_media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 1.2em;
}

.linkedIn_img {
  width: 55px;
  height: 37px;
  padding-top: 2px;
  padding-left: 1.56em;
}

.instagram_img {
  width: 40px;
  height: 40px;
}

.facebook_img {
  width: 60px;
  height: 40px;
  padding-left: 1.56em;
}

.cards_img_saeintro {
  height: 37.5em;
  width: 37.5em;
  margin-left: 1.56em;
  margin-top: 2.25em;
}

.line {
  border-top: 1px solid white;
  margin: 0 auto;
  width: 37.5em;
}

/* ourteams section */
/* ourteams section */

.sae_ourteams {
  background-color: rgb(236, 236, 241);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  width: 100%;
  height: 80vh;
}

.left_wrapper_ourteams {
  padding-top: 9em;
}

.cards_ourteams {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 9em;
}

.cards_wholecontent_ourteams {
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin: 20px;
  height: 150px;
}

.cards_headings_ourteams {
  text-align: center;
  font-size: 17px;
  font-family: "outfit";
  font-style: normal;
  font-weight: bold;
  margin-bottom: 10px;
}

.cardcontent_ourteams {
  font-family: "poppins";
  font-style: normal;
  width: 200px;
  font-size: 14px;
  line-height: 1.5;
}

.line1 {
  margin-left: 285px;
  margin-top: 115px;
  border-top: 4px solid rgb(242, 84, 2);
  width: 40px;
}

.heading_ourteams {
  margin-left: 5.5em;
  color: black;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 30px;
  border-top: 5px solid transparent;
  border-image: linear-gradient(to right, rgb(242, 84, 2) 9%, transparent 9%) 1;
}

.text_longcontent_ourteams {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 40px;
  padding-left: 190px;
  padding-right: 190px;
  color: black;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
}

.colored_div {
  margin: 0 auto;
  background-color: rgb(242, 84, 2);
  /* Replace "red" with your desired color */
  width: 120px;
  /* Set the width and height to your desired size */
  height: 40px;
  border-radius: 20px;
  border: none;
}