@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

.main {
    margin: 0px;
    padding: 0px;
}

.sae_intro {
    padding-top: 1.56em;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    width: 100%;
    height: 37vw;
}

.sae_headings {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    font-family: "Outfit";
    font-style: normal;
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 6vw;
    font-weight: 700;
    font-size: 2.5vw;
    line-height: 1.6vw;
}

.sae_name_text {
    padding-right: 2vw;
}

.sae_long_text {
    text-align: center;
    color: white;
    font-family: "Poppins";
    font-style: normal;
    padding-top: 0.65vw;
    padding-left: 1.62vw;
    padding-right: 1.62vw;
    font-weight: 400;
    font-size: 1.4vw;
    line-height: 2vw;
}

.social_media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 0.65vw;
    padding-bottom: 1.25vw;
}

.linkedIn_img {
    width: 4.2vw;
    height: 2.9vw;
    padding-top: 1.8px;
    padding-left: 1.62vw;
}

.instagram_img {
    width: 3.1vw;
    height: 3.2vw;
}

.facebook_img {
    width: 4.5vw;
    height: 3.2vw;
    padding-left: 1.62vw;
}

.cards_img_saeintro {
    height: 42vw;
    width: 40vw;
    margin-left: 1.62vw;
    margin-top: 1vw;
}

.line {
    border-top: 1px solid white;
    margin: 0 auto;
    width: 34.75vw;
}

/* ourteams section */
/* ourteams section */

.sae_ourteams {
    background-color: rgb(236, 236, 241);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    width: 100%;
    height: 40vw;
}

.left_wrapper_ourteams {
    padding-top: 9.375vw;
}

.cards_ourteams {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 9.375vw;
}

.cards_wholecontent_ourteams {
    padding: 0.6vw;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 1.302vw;
    margin: 1.302vw;
    height: 11vw;
}

.cards_headings_ourteams {
    text-align: center;
    font-size: 1.4vw;
    font-family: "outfit";
    font-style: normal;
    font-weight: bold;
    margin-bottom: 0.6vw;
}

.cardcontent_ourteams {
    font-family: "poppins";
    font-style: normal;
    width: 14vw;
    font-size: 1.1vw;
    line-height: 1.1vw;
}

.line1 {
    margin-left: 18.55vw;
    margin-top: 7.48vw;
    border-top: 4px solid rgb(242, 84, 2);
    width: 2.60vw;
}

.heading_ourteams {
    margin-left: 16.14vw;
    color: black;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 700;
    font-size: 3.255vw;
    line-height: 1.95;
    border-top: 5px solid transparent;
    border-image: linear-gradient(to right, rgb(242, 84, 2) 9%, transparent 9%) 1;
}

.text_longcontent_ourteams {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 4.2vw;
    padding-left: 12.36vw;
    padding-right: 12.36vw;
    color: black;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 1.2vw;
    line-height: 1.7vw;
}

.colored_div {
    margin: 0 auto;
    background-color: rgb(242, 84, 2);
    /* Replace "red" with your desired color */
    width: 9.11vw;
    /* Set the width and height to your desired size */
    height: 2.60vw;
    border-radius: 1.30vw;
}

.ourachievments_sae {
    background-color: rgb(236, 236, 241);
    height: 60vh;
    border-bottom: 3px solid rgb(207, 207, 207);
}

.ourachievments_heading_text {
    padding-top: 2em;
    padding-left: 170px;
    font-family: "outfit";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 30px;
    color: #000000;
}

.achievments_cards_sae {
    padding-top: 40px;
    grid-gap: 70px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.achievments_card1_sae {
    display: flex;
    flex-direction: row;
    background-color: rgb(248, 248, 251);
    justify-content: center;
    width: 300px;
    height: 140px;
    padding: 10px;
    align-items: center;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
}

.achievments_card1_text {
    padding-left: 35px;
    padding-right: 35px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    color: #000000;
}

.achievments_card1_sae:hover {
    transform: translate(0px, -20px) scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Our blogs */
/* Our blogs */

.blogs {
    padding: 5em 0;
    background-color: #e5e5e9;
}

.blogHeading {
    padding-left: 20em;
    font-family: "Outfit";
}

.blogHeading h1 {
    font-weight: 800;
    border-top: 5px solid transparent;
    border-image: linear-gradient(to right, rgb(242, 84, 2) 4%, transparent 4%) 1;
}

.blog_container {
    margin-left: 15vw;
    margin-right: 15vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    padding: 50px;
    padding-top: 20px;
}

.blog_card {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-bottom: 20px;
    width: 25vw;
    height: 45vh;
    background-color: #807f7f;
    border-radius: 40px;
    transition: all 0.3s ease-in-out;
}

.blog_card button {
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    margin-left: 10%;
    margin-bottom: 5%;
}

.blog_card:hover {
    transform: translate(10px, -7px);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2), 0 12px 50px 0 rgba(0, 0, 0, 0.1);
    background-color: #cb3d15;
}

.blog_card:active {
    transform: scale(0.95);
    box-shadow: none;
}

.blog_card:hover button {
    background-color: #f25402;
}

.blog_card:active button {
    display: none;
}

.orangeSection img {
    width: 100%;
}

/* our mentors section */
/* our mentors section */
.ourmentors_sae {
    background-color: rgb(236, 236, 241);
    height: 50vh;
}

.ourmentors_heading_text {
    padding-top: 15px;
    padding-left: 170px;
    font-family: "outfit";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 30px;
    color: #000000;
}

.ourmentors_cards_sae {
    padding-top: 40px;
    grid-gap: 70px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.ourmentors_card1_sae {
    display: flex;
    background-color: rgb(248, 248, 251);
    justify-content: center;
    width: 340px;
    height: 140px;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
}

.ourmentors_card1_sae:hover {
    transform: translate(0px, -20px) scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.ourmentors_card1_heading_text {
    padding-top: 6px;
    font-family: "outfit";
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #000000;
}

.ourmentors_card1_text {
    display: flex;
    -ms-flex-align: start;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}

.ourmentors_img {
    padding-left: px;
}

.events {
    background-color: #e3e3e3;
    padding: 50px 0;
}

.eventHeading {
    padding-left: 19em;
}

.eventHeading h1 {
    font-weight: bolder;
    font-family: "Outfit";
    border-top: 5px solid transparent;
    border-image: linear-gradient(to right, rgb(242, 84, 2) 4%, transparent 4%) 1;
}

.eventContainer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
    padding: 50px 0 50px 0;
}

.upperEvent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    gap: 50px;
    margin: 0 20vw 0 20vw;
    justify-items: center;
}

.ueEach {
    background-color: white;
    border-radius: 35px;
    overflow: hidden;
}

.ueEach img {
    max-width: 100%;
    height: auto;
}

.ueContent {
    padding: 20px;
}

.ueContent span {
    display: block;
    font-size: 20px;
    font-weight: bold;
}

.ueContent a {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.lowerEvent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    gap: 25px;
    margin: 0 20vw 0 20vw;
    justify-items: center;
}

.leEach {
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
}

.leEach img {
    max-width: 100%;
    height: auto;
}

.leContent {
    padding: 20px;
}

.leContent span {
    display: block;
    font-size: 20px;
    font-weight: bold;
}

.leContent a {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.vmBtn {
    display: block;
    margin: 0 auto;
    background-color: rgb(242, 84, 2);
    width: 140px;
    height: 40px;
    border-radius: 20px;
    border: none;
}

@media screen and (max-width: 750px) and (min-width: 300px) {
    .sae_intro {
        padding-top: 0;
        grid-template-columns: 1fr;
        grid-gap: 3px;
        width: 100%;
        height: 60vh;
    }

    .sae_headings {
        padding-top: 1em;
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
    }

    .sae_name_text {
        padding-right: 0.4em;
    }

    .sae_long_text {
        padding-top: 12px;
        padding-left: 2.5em;
        padding-right: 2.5em;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }

    .social_media {
        padding-top: 10px;
        padding-bottom: 1em;
    }

    .linkedIn_img {
        width: 65px;
        height: 44px;
        padding-top: 2px;
        padding-left: 1.56em;
    }

    .instagram_img {
        width: 47px;
        height: 47px;
    }

    .facebook_img {
        width: 75px;
        height: 49px;
        padding-left: 1.56em;
    }

    .cards_img_saeintro {
        display: none;
    }

    .line {
        width: 68vw;
    }

    /* our teams */
    .sae_ourteams {
        background-color: rgb(236, 236, 241);
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        height: 80vh;
    }

    .left_wrapper_ourteams {
        padding-top: 5em;
    }

    .cards_ourteams {
        padding-top: 1em;
    }

    .cards_wholecontent_ourteams {
        background-color: #fff;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        margin-left: 1.25em;
        height: 7.5em;
    }

    .cards_headings_ourteams {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .cardcontent_ourteams {
        width: 13em;
        font-size: 13px;
        line-height: 14px;
    }

    .heading_ourteams {
        margin: 0 auto;
        width: 300px;
        font-size: 45px;
        line-height: 28px;
    }

    .text_longcontent_ourteams {
        display: none;
    }

    .colored_div {
        display: none;
    }
}

@media screen and (max-width: 500px) and (min-width: 430px) {

    /* our teams */
    .sae_ourteams {
        background-color: rgb(236, 236, 241);
        display: grid;
        grid-template-columns: 1fr;

        width: 100%;
        height: 80vh;
    }

    .left_wrapper_ourteams {
        padding-top: 5em;
    }

    .cards_ourteams {
        padding-top: 1em;
    }

    .cards_wholecontent_ourteams {
        background-color: #fff;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        margin-left: 1.25em;
        height: 7em;
    }

    .cards_headings_ourteams {
        font-size: 13px;
        margin-bottom: 8px;
    }

    .cardcontent_ourteams {
        width: 13em;
        font-size: 12px;
        line-height: 14px;
    }

    .heading_ourteams {
        margin: 0 auto;
        width: 300px;
        font-size: 43px;
        line-height: 28px;
    }

    .text_longcontent_ourteams {
        display: none;
    }

    .colored_div {
        display: none;
    }
}

@media screen and (max-width: 430px) and (min-width: 300px) {

    /* our teams */
    .sae_ourteams {
        background-color: rgb(236, 236, 241);
        display: grid;
        grid-template-columns: 1fr;

        width: 100%;
        height: 80vh;
    }

    .left_wrapper_ourteams {
        padding-top: 6em;
    }

    .cards_ourteams {
        padding-top: 1em;
    }

    .cards_wholecontent_ourteams {
        border-radius: 20px;
        margin-left: 1em;
        height: 7em;
    }

    .cards_headings_ourteams {
        font-size: 12px;
        margin-bottom: 8px;
    }

    .cardcontent_ourteams {
        width: 12em;
        font-size: 10px;
        line-height: 12px;
    }

    .heading_ourteams {
        margin: 0 auto;
        width: 300px;
        font-size: 43px;
        line-height: 28px;
    }

    .text_longcontent_ourteams {
        display: none;
    }

    .colored_div {
        display: none;
    }
}