@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Nunito:wght@500&family=Poppins:wght@100&family=Roboto&display=swap");
.eventimg {
  width: 50%;
  padding: 2rem;
}

.floatImg {
  position: relative;
  top: -12rem;
  left: 30%;
}
.rootmain {
  width: 100%;
  /* padding: 5rem 6rem; */
  padding: 2rem 0rem;
  height: fit-content;
  display: flex;
}

.aboutEvent {
  width: 50%;
  align-self: center;
  /* padding: 4rem; */
}

.aboutHead {
  font-size: xx-large;
  font-weight: 600;
  padding: 2rem 0rem;
  font-family: Nunito;
}

.aboutText {
  font-family: Roboto;
}

.box {
  background-color: #1b1a1b;
  border-radius: 1.5rem;
  color: white;
  height: 6rem;
  width: 8rem;
  margin-right: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boxRoot {
  display: flex;
  align-items: center;
  padding: 3rem 0rem;
}

.boxBold {
  font-weight: 600;
  font-size: x-large;
  font-family: Nunito;
}

.exploreHead {
  font-size: xxx-large;
  font-weight: 600;
  padding-bottom: 2rem;
  font-family: Lato;
  text-align: center;
}

.exploreRoot {
  height: fit-content;
  padding: 2rem 0rem;
}

.carBody {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sliderMain {
  width: "50%";
}

.swiperRoot {
  padding: 0rem 3rem;
  height: 40vh;
}

.carImg {
  width: 100%;
  height: 100%;
}

.carouselData {
  /* width: 245px; */
  width: 80%;
  height: 25vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* height: 1%; */
  align-items: flex-start;
  padding: 0rem 0rem;
  padding-left: 1rem;
}

.eventDate {
  font-family: Popins;
}

.cardEventHead {
  font-family: Popins;
  font-size: 1rem;
  font-weight: 600;
}

.cardEventData {
  font-family: Popins;
  overflow: hidden;
}

.cardWrapper {
  /* padding: 2rem 0rem; */
}

.eventTime {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.imgTime {
  position: absolute;
  top: 15%;
  right: 5%;
  color: white;
}

.eventName {
  padding: 1rem 0.5rem;
  font-size: 2.5rem;
  font-family: Nunito;
}

.timeDetail {
  font-size: 2rem;
}

.timeRoot {
  padding: 0rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgBack {
  width: 45%;
  height: 25vh;
}

.timeColon {
  font-size: 2.5rem;
  padding: 0rem 0.5rem;
}

.link {
  color: #1b1a1b;
  text-decoration: none;
}

.link:hover {
  color: #1b1a1b;
  text-decoration: none;
}

.svghw {
  height: 2rem;
  width: 2rem;
}

.bannerImage {
  width: 100%;
  height: 100%;
}

.imgBlock {
  width: 90%;
  height: 100%;
}

/* //new */

.eventimg {
  background: #fff;
  max-width: 950px;
  margin: auto;
  display: grid; /* could be any other container , header, section ... */
  grid-template-columns: 1.45fr 1.85fr 1.7fr 1.5fr 1.5fr 2fr;
  grid-template-rows: 40px 120px 120px 140px auto;
}

.eventimg:after {
  content: "";
  grid-column: 6;
  grid-row: 1 / span 5;
}

.section {
  grid-row: 5;
  grid-column: 1 / span 5;
  background: white;
  margin-top: 40px;
}

/* div {
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
      } */

.div1 {
  grid-row: 2 / span 2;
  grid-column: 2 / span 3;
  /* background: url(https://picsum.photos/id/227/400/300) 0 0 / cover; */
}

.div2 {
  grid-row: 2 / span 2;
  grid-column: 4 / span 2;
}

.div3 {
  grid-row: 3 / span 2;
  grid-column: 3 / span 3;
  align-items: center;
}

.div4 {
  grid-row: 3 / span 2;
  grid-column: 3 / span 2;
  font-size: 80px;
  color: #777a;
  padding: 0px 0px 20px 30px;
}
.addressWrap {
  font-family: Nunito;
}
.div5 {
  grid-row: 4 / span 2;
  grid-column: 3 / span 3;
  margin-top: 30px;
  font-size: 2rem;
}

.a {
  appearance: button;
  margin-right: auto;
  padding: 0.25em 1em;
}

.swiper-wrapper {
  padding: 0rem 3rem;
}

@media screen and (max-width: 800px) {
  .rootmain {
    flex-direction: column;
    height: fit-content;
  }
  .eventimg {
    width: 100%;
    /* min-height: 60vh;
            */
    height: fit-content;
    padding: 0px;
    grid-template-columns: 0.9fr 1.85fr 1.7fr 1.5fr 3.5fr 1fr;
  }
  .aboutEvent {
    width: 100%;
    height: fit-content;
  }
  .aboutHead {
    text-align: center;
    padding-bottom: 0rem;
    padding-top: 0rem;
    margin-top: 2rem;
  }

  .aboutTextWrap {
    padding: 2rem;
  }
  .addressWrap {
    padding: 0rem 2rem;
  }

  .box {
    border-radius: 0.5rem;
    height: 5rem;
    width: 6rem;
    margin-right: 0rem;
  }
  .boxBold {
    font-size: 1.125rem;
  }
  .boxRoot {
    justify-content: space-evenly;
  }

  .div1 {
    grid-row: 2 / span 2;
    grid-column: 2 / span 4;
  }
  .div3 {
    grid-row: 3 / span 2;
    grid-column: 3 / span 4;
  }

  .exploreHead {
    font-size: 2rem;
    padding: 2rem 0rem;
  }
  .firstVP {
    display: flex;
    flex-direction: column;
  }
  .imgTime {
    position: relative;
    top: 0rem;
    left: 0rem;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
  }
  .carouselData {
    height: 25vh;
    overflow: hidden;
    padding: 0rem;
    padding-left: 1rem;
  }
  .cardEventHead {
    font-size: 1rem;
    font-weight: 600;
  }
  .eventName {
    font-size: 1.5rem;
    text-align: center;
  }
  .timeDetail {
    font-size: 1rem;
  }
  .timeColon {
    font-size: 1rem;
  }
  .eventTime {
    width: 66%;
  }
  .cardEventHead {
    font-size: 1rem;
  }
  .cardEventData {
    font-size: 0.75rem;
  }
}
