@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

.navbarBlack {
  background-color: #1b1a1b;
  position: fixed;
  width: 100%;
  color: #fff;
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -2px;
  z-index: 1000;
}

.navbarWhite {
  background-color: #fff;
  width: 100%;
  color: #000;
  position: fixed;
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -2px;
  z-index: 1000;
}

.animate {
  list-style-type: none;
}

.links {
  font-family: "Poppins";
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  padding: 20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
}

.links::before {
  transition: 350ms;
  height: 2.5px;
  content: "";
  position: absolute;
  background-color: #ffffff;
}

.navlinkltr::before {
  width: 0%;
  bottom: 10px;
}

.navlinkltr:hover::before {
  width: 100%;
}

.navbarWhite .navlinkltr:hover::before {
  background-color: #000000;
  width: 100%;
}

.linkContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

.signInBtn {
  background-color: #e25420;
  color: white;
  border: none;
  border-radius: 20px;
  width: 100px;
  height: 36px;
  /* padding-bottom: 4px; */
}

/* responsive */

.linkshamburger {
  font-family: "Poppins";
  font-style: normal;
  font-size: 15px;
  padding-top: 4px;
  line-height: 20px;
  margin: 4px;
}

.linkContainerhamburger {
  display: none;
}

.linkContainerhamburgershow {
  background-color: #e25420;
  display: none;
  flex-direction: column;
  border-radius: 20px;
  width: 200px;

  position: fixed;
  top: 20px;
  right: 10px;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.signInBtnhamburger {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 20px;
  border: none;
  /* margin-bottom: 300px; */
  width: 80px;
  height: 26px;
  text-align: center;
  padding-bottom: 4px;
}

.hamburger {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  object-fit: contain;
  z-index: 100;
}

@media screen and (max-width: 1200px) {
  .linkContainer {
    margin: auto;
    height: 60px;
  }

  .animate {
    padding-right: 24px;
  }

  .signInBtn {
    text-align: center;
    position: absolute;
    right: 20px;
  }

  .caricon {
    position: absolute;
    top: 10px;
    left: 20px;
  }
}

@media screen and (max-width: 956px) {
  .linkContainer {
    display: none;
  }

  .signInBtn {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .linkContainerhamburgershow {
    display: flex;
  }

  .navbarBlack {
    padding: 0px;
    height: 70px;
  }

  .navbarWhite {
    padding: 0px;
    height: 70px;
  }
}

/* full Screen Overlay */
.fullScreenOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 90;
}

.fullScreenOverlay .linkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.fullScreenOverlay {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

.fullScreenOverlay .signInBtnhamburger {
  background-color: #e25420;
  color: white;
  border: none;
  border-radius: 200px;
  width: 100px;
  height: 36px;
  padding-bottom: 0px;
  text-align: center;
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.navbarWhite .fullScreenOverlay .navlinkltr:hover::before {
  background-color: #ffffff;
  width: 100%;
}

.closeButton {
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
}