@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.about {
  width: 55vw;
  margin: auto;
  padding-top: 7vh;
  text-align: center;
  color: #a3a4a3;
}

.about h1 {
  font-size: 3.75rem;
  margin-top: 0px;
  font-family: "Outfit";
  font-weight: 400;
  color: #f4f4f4;
}

.about hr {
  margin-top: 30px;
  width: 55vw;
}

.desc {
  font-family: "Poppins";
}

.social_media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 0.65vw;
    padding-bottom: 1.25vw;
    gap: 0.5vw;
  }
  .linkedIn_img {
    margin-left: 0.25vw;
  }
  
  .social_media > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .cards_img_saeintro {
    height: 42vw;
    width: 40vw;
    margin-left: 1.62vw;
    margin-top: 1vw;
  }

@media (max-width: 1050px) {
  .about {
    width: 70vw;
  }

  .about hr {
    width: 67vw;
  }
}